/.AdministracionWindow.java._trace
/.ConfiguracionPersistenciaWindow.java._trace
/.ConsultarStockWindow.java._trace
/.CrearOrdenWindow.java._trace
/.DetalleProductoCompuestoWindow.java._trace
/.DetalleProductoWindow.java._trace
/.SeleccionRepositorio.java._trace
/.ConsultarOrdenDeCompraWindow.java._trace
/.AdministracionWindow.xtendbin
/.ConfiguracionPersistenciaWindow.xtendbin
/.ConsultarOrdenDeCompraWindow.xtendbin
/.ConsultarStockWindow.xtendbin
/.CrearOrdenWindow.xtendbin
/.DetalleProductoCompuestoWindow.xtendbin
/.DetalleProductoWindow.xtendbin
/.SeleccionRepositorio.xtendbin
/AdministracionWindow.java
/ConfiguracionPersistenciaWindow.java
/ConsultarOrdenDeCompraWindow.java
/ConsultarStockWindow.java
/CrearOrdenWindow.java
/DetalleProductoCompuestoWindow.java
/DetalleProductoWindow.java
/SeleccionRepositorio.java
