/.DateTextFilter.java._trace
/.LocalDateTransformer.java._trace
/.DateBox.java._trace
/.DateBox.xtendbin
/.DateTextFilter.xtendbin
/.LocalDateTransformer.xtendbin
/DateBox.java
/DateTextFilter.java
/LocalDateTransformer.java
