/.Administracion.java._trace
/.ItemOrdenCompra.java._trace
/.ItemProducto.java._trace
/.OrdenCompra.java._trace
/.Producto.java._trace
/.Proveedor.java._trace
/.ProductoCompuesto.java._trace
/.Administracion.xtendbin
/.ItemOrdenCompra.xtendbin
/.ItemProducto.xtendbin
/.OrdenCompra.xtendbin
/.Producto.xtendbin
/.ProductoCompuesto.xtendbin
/.Proveedor.xtendbin
/Administracion.java
/ItemOrdenCompra.java
/ItemProducto.java
/OrdenCompra.java
/Producto.java
/ProductoCompuesto.java
/Proveedor.java
