/.ModoPersistencia.java._trace
/.PersistenciaGrafos.java._trace
/.PersistenciaMemoria.java._trace
/.PersistenciaMongo.java._trace
/.PersistenciaSQL.java._trace
/.ModoPersistencia.xtendbin
/.PersistenciaGrafos.xtendbin
/.PersistenciaMemoria.xtendbin
/.PersistenciaMongo.xtendbin
/.PersistenciaSQL.xtendbin
/ModoPersistencia.java
/PersistenciaGrafos.java
/PersistenciaMemoria.java
/PersistenciaMongo.java
/PersistenciaSQL.java
