/.RepoOrdenCompra.java._trace
/.RepoProducto.java._trace
/.Repositorio.java._trace
/.RepoProveedor.java._trace
/.RepoOrdenCompra.xtendbin
/.RepoProducto.xtendbin
/.RepoProveedor.xtendbin
/.Repositorio.xtendbin
/RepoOrdenCompra.java
/RepoProducto.java
/RepoProveedor.java
/Repositorio.java
